.card-product {
  width: 800px;
  background: white;
  display: flex;
  align-items: center;
  text-align: left;
}

.card-product img {
  height: 100%;
  width: 500px;
}
.card-product a {
  height: 100%;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

@media(max-width: 770px) {
  .card-product {
    flex-direction: column;
  }
  .card-product img {
  width: 333px;
  }
}

@media(max-width: 500px) {
  .card-product {
    flex-direction: column;
  }
  .card-product img {
  width: 250px;
  }
}

@media(max-width: 400px) {
  .card-product {
    flex-direction: column;
  }
  .card-product img {
  width: 167px;
  }
}
