h1 {
  font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
}

a {
  font-family: 'Open Sans Condensed', sans-serif;
}

div {
  font-family: 'Open Sans Condensed', sans-serif;
}

@media(max-width: 375px) {
  h1 {
    font-size: 32px !important;
  }
  h2 {
    font-size: 29px !important;
  }
}
