h1 {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

a {
  font-family: 'Raleway', sans-serif;
}

div {
  font-family: 'Raleway', sans-serif;
}
